<div class="container">
  <div class="word-row word-header">
    <span>Слово</span>
    <span>Частота</span>
    <span>
      <input [(ngModel)]="searchValue" type="search" placeholder="Поиск слова" />
      <button (click)="searchWord()">Поиск</button>
    </span>
    <span>
      <button (click)="setWords('word', true)">Сортировка по алфавиту</button>
      <button (click)="setWords('frequency', true)">Сортировка по частоте</button>
    </span>
  </div>
  <div class="word-row" *ngFor="let word of words;">
    <span>{{word.word}}</span>
    <span>{{word.frequency}}</span>
    <span>Был применен в текстах:  <span *ngFor="let mention of word.mentions">{{mention.name}}</span></span>
  </div>

  <div class="paging">
    <button id="back" (click)="back()">Назад</button>
    <input id="page" disabled>
    <button id="forward" (click)="forward()">Вперед</button>
  </div>
</div>
