.container {
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px;
  border: 10px solid #5c8d89;
  box-sizing: border-box;
  overflow: hidden;
}

.word-row {
  border: 1px solid #5c8d89;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.word-row span {
  min-width: 20%;
  flex: 1 0 auto;
}

.word-row span:first-child {
  min-width: 10%;
  flex: 0 1 auto;
  padding-right: 10px;
}

.word-row span:nth-child(2) {
  max-width: 10%;
  min-width: 10%;
  padding-left: 10px;
}

.word-row span span + span{
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #5c8d89;
}

.word-row + .word-row  {
  margin-top: 3px;
}

.word-header {
  border: 3px solid #5c8d89;
}
