<div class="container">
  <table>
    <thead>
    <tr class="word-row word-header">
      <th class="with-border">
        <span>Word</span>
      </th>
      <th class="with-border">
        <span>Frequency</span>
      </th>
      <th class="with-border">
        <span>Tag</span>
      </th>
      <td>
          <span>
            <select (change)="getTextVocabulary($event.target.value)">
              <option *ngFor="let text of texts" value="{{text.id}}">{{text.name}}</option>
            </select>
          </span>
      </td>
      <th>
        <span>
          <input [(ngModel)]="searchValue" type="search" placeholder="Search a word"/>
          <button (click)="searchWord()">Search</button>
        </span>
      </th>
      <th>
        <span>
          <button (click)="setWords('word', true)">Sort by word</button>
        </span>
      </th>
      <th>
        <span>
          <button (click)="setWords('frequency', true)">Sort by frequency</button>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr class="word-row" *ngFor="let word of words;">
        <td>
          <span>{{word.word}}</span>
        </td>
        <td>
          <span>{{word.frequency}}</span>
        </td>
        <td>
          <span>{{word.tag}}</span>
        </td>
        <td>
          <span>
            <select>
              <option *ngFor="let mention of word.mentions" value="{{mention.name}}">{{mention.name}}</option>
            </select>
          </span>
        </td>
        <td>
          <span>
            <input [(ngModel)]="word.editedValue" type="text" placeholder="Edit word"/>
            <button (click)="editWord(word)">Edit</button>
          </span>
        </td>
        <td>
          <span>
            <input [(ngModel)]="word.editTag" type="text" placeholder="Edit tag"/>
            <button (click)="editTag(word)">Edit</button>
          </span>
        </td>
        <td>
          <span>
            <button (click)="getCanonical(word)">Canonical</button>
          </span>
        </td>
        <ng-container *ngIf="word.wordCanonical" class="small-text">
          <td>
          <span>{{word.wordCanonical.canonical}}</span>
          </td>
          <td>
          <span>{{word.wordCanonical.frequency}}</span>
          </td>
          <td>
          <span>{{word.wordCanonical.tags}}</span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <div class="paging">
    <button id="back" (click)="back()"><<</button>
    <input id="page" disabled>
    <button id="forward" (click)="forward()">>></button>
  </div>
</div>
