<div class="container">
  <div class="word-row word-header">
    <span>Word</span>
    <span>Frequency</span>
    <span>
      <input [(ngModel)]="searchValue" type="search" placeholder="Search a word" />
      <button (click)="searchWord()">Search</button>
    </span>
    <span>
      <button (click)="setWords('word', true)">Sort by word</button>
      <button (click)="setWords('frequency', true)">Sort by frequency</button>
    </span>
  </div>
  <div class="word-row" *ngFor="let word of words;">
    <span>{{word.word}}</span>
    <span>{{word.frequency}}</span>
    <span>Found in:
      <select>
        <option *ngFor="let mention of word.mentions" value="{{mention.name}}">{{mention.name}}</option>
      </select>
    </span>
  </div>

  <div class="paging">
    <button id="back" (click)="back()">Back</button>
    <input id="page" disabled>
    <button id="forward" (click)="forward()">Next</button>
  </div>
</div>
