<div class="container">
  <button (click)="cancel()">Back</button>

  <div class="table-container">

    <div class="flex-table">
      <table>
        <thead>
        <tr>
          <th (click)="changeTagSort('tag')">Tag</th>
          <th (click)="changeTagSort('frequency')">Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-row" *ngFor="let stat of tagStatistics;">
          <td>{{stat.tag}}</td>
          <td>{{stat.frequency}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="flex-table">
      <table>
        <thead>
        <tr>
          <th (click)="changeBiGramSort('previousTag')">Previous tag</th>
          <th (click)="changeBiGramSort('nextTag')">Next tag</th>
          <th (click)="changeBiGramSort('frequency')">Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-row" *ngFor="let stat of biGramStatistics;">
          <td>{{stat.previousTag}}</td>
          <td>{{stat.nextTag}}</td>
          <td>{{stat.frequency}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="flex-table">
      <table>
        <thead>
        <tr>
          <th (click)="changeWordTagSort('tag')">Tag</th>
          <th (click)="changeWordTagSort('word')">Word</th>
          <th (click)="changeWordTagSort('frequency')">Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-row" *ngFor="let stat of wordTagStatistics;">
          <td>{{stat.tag}}</td>
          <td>{{stat.word}}</td>
          <td>{{stat.frequency}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
