.header {
  width: 100%;
  height: 50px;
  background: #a7d7c5;
  border: #5c8d89;
  display: flex;
}
.header a {
  width: 50%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2a4d49;
}
.header a:hover {
  background: #5c8d89;
}
.header a.active-link {
  background: #74b49b;
}
.header a:hover.active-link {
  background: #5c8d89;
}
