<div class="container">
  <div class="text-row text-header">
    <span>Text Title</span>
    <span *ngIf=false>ID</span>
    <button (click)="getStatistics()">Statistics</button>
  </div>

  <div class="text-row" *ngFor="let text of texts;">
    <span>{{text.name}}</span>
    <span *ngIf=false>{{text.id}}</span>
    <button (click)="setData(text)">View</button>
    <span></span>
  </div>

  <div class="paging">
    <button id="back" (click)="back()"><<</button>
    <input id="page" disabled>
    <button id="forward" (click)="forward()">>></button>
  </div>
</div>
