.container {
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px;
  border: 10px solid #5c8d89;
  box-sizing: border-box;
  overflow: hidden;
}

.container textarea {
  width: 100%;
  height: calc(100% - 40px);
  resize: none;
  box-sizing: border-box;
}

.buttons {
  height: 40px;
  display: flex;
}

.buttons button {
  height: 100%;
  width: 50%;
}

a {
  width: 50%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2a4d49;
}
