.container {
  width: 100%;
  height: calc(100% - 50px);
  padding: 10px;
  border: 10px solid #5c8d89;
  box-sizing: border-box;
  overflow: hidden;
}

.text-row {
  border: 1px solid #5c8d89;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-row span {
  min-width: 20%;
  padding: 0 4px;
}

.text-row + .text-row  {
  margin-top: 3px;
}

.text-header {
  border: 3px solid #5c8d89;
}
