<div class="container">
  <div class="text-row text-header">
    <span>Text Title</span>
    <span *ngIf=false>ID</span>
    <span>
      <input (change)="fileEvent($event)" [(ngModel)] = "file" type="file" placeholder="Load new text" />
    </span>
    <span>
      <!-- <button></button> -->
      <!-- <button (click)="setTexts('text', true)">Сортировка по алфавиту</button>
      <button (click)="setTexts('frequency', true)">Сортировка по частоте</button> -->
    </span>
  </div>
  <div class="text-row" *ngFor="let text of texts;">
    <span>{{text.name}}</span>
    <span *ngIf=false>{{text.id}}</span>
    <!-- <span>Из текста номер {{text.frequency}}</span> -->
    <button (click)="setData(text.data)">Edit</button>
    <!-- <a>Редактировать</a> -->
  </div>

  <div class="paging">
    <button id="back" (click)="back()">Back</button>
    <input id="page" disabled>
    <button id="forward" (click)="forward()">Next</button>
  </div>
</div>
