.container {
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px;
  background: rgb(239, 251, 228);
  border: 10px solid rgb(212, 250, 177);
  box-sizing: border-box;
  overflow: hidden;
}

.text-row {
  background: rgb(239, 251, 228);
  border: 1px solid rgb(212, 250, 177);
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: flex-start;
}

.text-row span {
  min-width: 20%;
  padding: 0 4px;
}

.text-row + .text-row  {
  margin-top: 3px;
}

.text-header {
  border: 3px solid rgb(255, 136, 136);
}
